/*---------------------------------------------------------------------------*/
/* index.css                                                                 */
/*---------------------------------------------------------------------------*/

body {
  margin: 0px;
}

.body-ct {
  display: flex;
  justify-content: center;
  align-items: center;
}
