/*---------------------------------------------------------------------------*/
/* index.css                                                                 */
/*---------------------------------------------------------------------------*/

body {
  margin: 0px;
}

.body-ct {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  background: rgba(45,45,45,.9);
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: #eee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
